table span.label-success,table span.label-danger,table span.label-warning{
    display:inline-block;
    width:80px;
    padding:6px;
    opacity: .8;
}
.modal-body .image{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    border:1px solid grey;
    box-shadow: 5px 5px grey;
    margin-top: 5px;
}
.modal-body img{
    width: 100%;
}